---
import type { GithubProject } from '../../services/projects/github-client'
import Icon from './icon.astro';

export interface Props {
  project: GithubProject
}

const { project } = Astro.props as Props;
---

<a class="container" href={project.url} target="_blank">
  <h2>{project.name}</h2>
  <p>{project.description}</p>
  <section class="icons">
    <Icon name="star.svg" text={project.stars} greyedOut={project.stars === 0}/>
  </section>
</a>

<style>
.container {
  display: block;
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  height: 100%;
  width: 100%;
  color: black;
  cursor: pointer;  
}

h2 {
  font-size: 1.2rem !important;
  margin: 0 0 1rem 0 !important;
}

.icons {
  margin-top: 1rem;
  display: flex;
}
</style>