---
import "../styles/reset.css";
import "../styles/global.css";
import Navbar from "../components/navbar/Navbar.astro";
import Panel from "../components/hamburger/Panel.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="non-footer">
            <Navbar />
            <aside>
                <Panel>
                    <slot name="hamburger-panel-content" />
                </Panel>
            </aside>

            <div class="slot">
                <slot />
            </div>
        </div>

        <Footer />
    </body>
</html>

<style>

    .non-footer {
        min-height: calc(100% - 5.5rem);
        display: flex;
        flex-direction: column;
    }

    .slot {
        flex: 1;
    }

    aside {
        display: none;
    }

    @media only screen and (max-width: 920px) {
        aside {
            display: initial;
        }
    }
</style>

<script>
    import "../scripts/hamburger.js";
</script>
