---
import Sidebar from "../components/sidebar/Sidebar.astro";
import { siteTitle } from "../static/navigation";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`${frontmatter.title} | ${siteTitle}`}>
    <div class="container">
        <div class="sidebar">
            <Sidebar />
        </div>

        <main>
            <slot />
        </main>
    </div>


    <div slot="hamburger-panel-content">
        <Sidebar />
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
    }

    main {
        margin: 0 auto;
        margin-top: 2rem;
        width: 800px;

        background: white;
        padding: 3rem;
    }

    .sidebar {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    @media only screen and (max-width: 920px) {
        .sidebar {
            display: none;
        }
    }
</style>
