/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// .home .hero
  // img
    // max-width 450px!important
    // border-radius 50%
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // border: 1px solid rgb(125, 125, 125);

  // .description
  //   color: rgba(0,0,0,0.6) !important
  //   text-shadow: 2px 2px 3px rgba(255,255,255,0.1);



.go-to-top
  color: #852424 !important;

// Code (`code`) looks 
:not(pre) > code
  background: rgb(125, 125, 125) !important;
  color: white !important;
  border-radius: 4px !important;

.warning :not(pre) > code
  background: rgb(132, 128, 96)!important;

.tip :not(pre) > code
  background: rgb(111, 130, 140)!important;

.danger :not(pre) > code
  background: rgb(133, 124, 124)!important;

// Mermaid
.mermaid-diagram
  display: flex;
  justify-content: center;

  .branch-label
    color: black !important;
  
  .commit-id
    color: rgba(0,0,0,0) !important;

  circle
    fill: #de4040 !important;
    stroke: #852424 !important;
  
  path
    stroke: rgb(93, 93, 93) !important;

@require '~vuepress-plugin-tabs/dist/themes/default.styl'

blockquote
  color: #727272;
  font-style: italic;

.tip blockquote
  border-left: 0.2rem solid #acacac;