/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero
  img
    max-width 450px!important
    border-radius 50%
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // border: 1px solid rgb(125, 125, 125);

  .description
    color: rgb(69, 69, 69)!important
