/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #de4040
$textColor = rgb(25, 25, 25)
$borderColor = #eaecef
$codeBgColor = #363434
$darkAccentColor = #852424

$contentWidth = 870px