/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #de4040
$textColor = #1D1D1F
$borderColor = #eaecef
$codeBgColor = #363434

$contentWidth = 850px