---
import type { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<div class="content">
    <h3>{post.data.title}</h3>
    <div class="date">{post.data.publishDate.toDateString()}</div>
    <div><Content /></div>
</div>

<style>
    h3 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .date {
        margin-top: 0.5rem;
        margin-bottom: 1rem; 
        font-weight: 600;
        font-size: 0.8rem;
    }
</style>
