---
import Container from "./Container.astro";
---

<Container>
    <p>
        Hi! My name is
        <a href="/about/who-am-i.html">Marcin Jahn</a>, I am a software engineer
        and technology enthusiast. Welcome to my
        <a href="/about/this-website.html">notebook</a>! You can either check
        out my notes about
        <a href="/programming">Programming</a> and various
        <a href="/technologies">Technologies</a> or just check out some updates from
        me below.
    </p>
</Container>

<style>
</style>
