---

---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        cursor: pointer;
    }

    .line {
        height: 0.15rem;
        width: 1.3rem;
        background-color: var(--text-color);
    }
</style>