---
import GithubExternalLink from './external-links/GithubExternalLink.astro';
import LinkedInExternalLink from './external-links/LinkedInExternalLink.astro';

const items = [
    {
        text: "LinkedIn",
        icon: "/img/linkedin.webp",
        link: "https://www.linkedin.com/in/marcin-jahn-63a9b915b/?locale=en_US",
    },
    {
        text: "GitHub",
        icon: "abc",
        link: "https://github.com/marcinjahn",
    },
    { text: "cirro.services", link: "https://www.cirro.services" },
];
---

<ul>
    <GithubExternalLink />
    <LinkedInExternalLink />
    <a target="_blank" href="https://www.cirro.services">
        <span>cirro.services</span>
    </a>
</ul>

<style>
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;
        gap: 1.5em;
    }

    li {
        flex-shrink: 0;
    }

    img {
        height: 1.2rem;
        width: 1.2rem;
        margin-bottom: -0.2rem;
    }

    img:hover {
        filter: opacity(75%);
    }

    span {
        color: var(--text-color);
    }

    span:hover {
        color: var(--accent-color)
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
