---
import { siteTitle } from "../../static/navigation";
import Hamburger from "../hamburger/Hamburger.astro";
import ExternalLinks from "./ExternalLinks.astro";
import MainLinks from "./MainLinks.astro";
import LightDarkSwitcher from "../theming/LightDarkSwitcher.astro";
---

<nav>
    <div class="left">
        <div class="hamburger"><Hamburger /></div>
        <div class="title">
            <a href="/">{siteTitle}</a>
        </div>
    </div>
    <div class="right">
        <LightDarkSwitcher class="theme-switcher"/>
        <div class="links">
            <MainLinks />
            <ExternalLinks />
        </div>
    </div>

</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--navbar-background-color);
        border-bottom: 1px solid var(--border-color);

        padding: 1rem 1.3rem;
    }

    .title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .title a {
        color: var(--text-color);
    }

    .left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .links {
        font-size: 0.9rem;

        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .links ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        gap: 1.5rem;

        border-right: 1px solid grey;
        padding-right: 1.5rem;
    }

    .links a {
        color: var(--text-color);
    }

    .links a:hover {
        color: var(--accent-color);
    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 920px) {
        .links {
            display: none;
        }

        .hamburger {
            display: block;
        }
    }
</style>
