---
---

<div class="container">
    © 2023 Marcin Jahn | Dev Notebook | All Rights Reserved. | Built with Astro.
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        padding: 1rem;
        color: var(--text-color);
        background: var(--footer-background-color);
    }
</style>