---
import Logo from "../components/home/Logo.astro";
import Posts from "../components/home/Posts.astro";
import Text from "../components/home/Text.astro";
import { siteTitle } from "../static/navigation";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={siteTitle}>
    <div class="logo"><Logo /></div>
    <main>
        
        <div class="posts"><Posts /></div>
    </main>
</BaseLayout>

<style>
    .logo {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    main {
        margin: 0 auto;



        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        max-width: 800px;
    }

    @media only screen and (max-width: 920px) {
        .posts {
            width: 100vw;
        }
    }
</style>
