---
import Intro from "../components/home/Intro.astro";
import Logo from "../components/home/Logo.astro";
import Posts from "../components/home/Posts.astro";
import { siteTitle } from "../static/navigation";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={siteTitle}>
    <section class="logo"><Logo /></section>
    <main>
        <section class="content"><Intro /></section>
        <section class="content"><Posts /></section>
    </main>
</BaseLayout>

<style>
    .logo {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    main {
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        width: 800px;
    }

    @media only screen and (max-width: 920px) {
        main {
            width: 100vw;
        }
    }
</style>
